/* колір заголовків #212121 */
/* колір основного тексту  #757575 */
/* додатковий колір секцій та інтерактивних кнопок #F5F4FA */
/* білий колір #FFFFFF */
/* акцент #2196F3 */
/* колір фону hero and footer #2F303A */
/* колір mail and tel in footer rgba(255, 255, 255, 0.6) */
/* колір WEB  в лого #000000 */

:root {
  --primary-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway';
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --secondary-section-button: #f5f4fa;
  --background-footer-section: #2f303a;
  --logo-black: #000000;
  --footer-mail-tel: rgba(255, 255, 255, 0.6);
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  /* outline: 2px solid tomato; */
}

body {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  font-family: var(--primary-font);
  color: var(--primary-text-color);
  background-color: var(--primary-white-color);
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

/* скидання нижнього відступу в картинок */
img {
  display: block;
}

.pointer {
  cursor: pointer;
}

/* Cкидування точок в списках ul*/
.list {
  list-style: none;
}

/* скидування нахилу в посилань */
.link {
  text-decoration: none;
}

/* приховування заловка в CSS */
.invisible {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect (0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/* ====================== COMPONENTS =======================*/

.section-title {
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--title-text-color);
}

button {
  border-radius: 4px;
  border: 1px solid transparent;
  text-align: center;
}

.logo-header,
.logo-footer,
.logo-span {
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  font-family: var(--secondary-font);
}

.header-mail,
.header-tel,
.link-nav {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}
/* ====================== /COMPONENTS =======================*/

/* ================ HEADER SECTION ======================*/
.page-header {
  display: flex;
  padding-top: 24px;
  padding-bottom: 24px;
  align-items: center;
  border-bottom: 1px solid #ececec;
}

.nav,
.container-header,
.site-nav.list,
.auth-nav.list {
  display: flex;
  align-items: center;
}

.site-nav.list {
  margin-left: 93px;
}

.nav-menu:not(:last-child) {
  margin-right: 50px;
}

.auth-nav.list {
  margin-left: auto;
}

.header-mail {
  margin-right: 50px;
}

.logo-header {
  color: var(--logo-black);
}

.logo-span {
  color: var(--accent-color);
}

.header-mail,
.header-tel {
  color: var(--primary-text-color);
}

.nav > a:hover,
.nav > a:focus {
  color: var(--accent-color);
}

.link-nav:hover,
.link-nav:focus {
  color: var(--accent-color);
}

.header-mail:hover,
.header-mail:focus {
  color: var(--accent-color);
}

.header-tel:hover,
.header-tel:focus {
  color: var(--accent-color);
}

.link-nav {
  color: var(--title-text-color);
}

.link-nav.current {
  color: var(--accent-color);
}

/* ================ /HEADER SECTION ============*/

/* ========================= HERO SECTION ==================*/
.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  background-color: var(--background-footer-section);
  /* outline: 1px solid red; */
}
.hero-title {
  width: 696px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.37;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-white-color);
}

.button {
  padding: 10px 32px;
  min-width: 216px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  text-decoration: none;
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.button:hover,
.button:focus {
  background-color: #188ce8;
}

/*================ SECTION BENEFIST =================*/

.section.benefit {
  display: flex;
  padding-top: 94px;
  padding-bottom: 47px;
}

.section.benefit .section-title {
  margin: 0;
}

.list.benefit {
  display: flex;
}

.about-benefit:not(:last-child) {
  margin-right: 30px;
}

.benefit-title {
  margin-top: 0;
  margin-bottom: 10px;

  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--title-text-color);
}

/*================ /SECTION BENEFIST =================*/

/* =================== SECTION EXAMPLE =================*/

.section-title.example {
  margin-top: 0;
  margin-bottom: 50px;
}

.section.example {
  padding-top: 47px;
  padding-bottom: 94px;
}

.list.example {
  display: flex;
}

.list.example {
  flex-wrap: wrap;
  gap: 30px;
}

.foto-example {
  width: calc(100% - 60px) / 3;
}

/* =================== /SECTION EXAMPLE =================*/

/* ==================== SECTION EMPLOYEES ===========*/
.section.employees {
  display: flex;
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: var(--secondary-section-button);
}

.list.employees {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.emploeyees-item {
  width: calc(100% - 90px) / 4;
}

.section-title.employees {
  margin-bottom: 50px;
  text-align: center;
}

.employees-title {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: var(--title-text-color);
}

.position.text {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.name-employees {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: var(--primary-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

/* ================ /SECTION EMPLOYEES ==================*/

/* /* ===================== FOOTER SECTION *===================/ */

.footer {
  display: flex;
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--background-footer-section);
}

.logo-footer {
  margin-bottom: 20px;
  display: inline-block;
}

.footer-addres:not(:last-child) {
  margin-bottom: 9px;
}

.logo-footer {
  color: var(--primary-white-color);
}

.link-address {
  font-style: normal;
  text-decoration: none;
  color: var(--primary-white-color);
}

.link-mail,
.link-tel {
  font-style: normal;
  color: var(--footer-mail-tel);
}

.link-address:hover,
.link-address:focus {
  color: var(--accent-color);
}

.link-mail:hover,
.link-mail:focus {
  color: var(--accent-color);
}

.link-tel:hover,
.link-tel:focus {
  color: var(--accent-color);
}
/* /* ===================== /FOOTER SECTION *===================/ */

/* ======================== PAGE PORTFOLIO ==========================*/

/* ================ SECTION PROJECT ==================*/
.section-project {
  display: flex;
  padding-top: 94px;
  padding-bottom: 94px;
}

.list.pointer {
  display: flex;
  margin-bottom: 50px;
  justify-content: center;
  min-width: 575px;
  margin-left: auto;
  margin-right: auto;
}

.title-work {
  margin-bottom: 4px;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}

.work-text {
  font-size: 16px;
  line-height: 1.88;
  color: var(--primary-text-color);
}

.button.link {
  display: flex;
  align-items: flex-start;
}

.button-link:not(:last-child) {
  margin-right: 8px;
}

.list.work {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.item-work {
  width: calc(100% - 60px) / 3;
}

.item-text {
  padding: 20px 24px;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}

.project {
  color: var(--title-text-color);
}

.btn-secondary {
  padding: 6px 22px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  font-family: inherit;
  color: var(--title-text-color);
  background-color: var(--secondary-section-button);
}

.btn-secondary:hover,
.btn-secondary:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}

/* ================ /SECTION PROJECT ==================*/
